<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>H.P.Lovecraft</title>
  </head>
  <body>
    <div class="main">
      <h1>Biografía</h1>

      <section>
        <img class="portrait" src="./img/hpphoto.jpg" alt="H.P. Lovecraft Retrato" />
        <p class="subhead">
          Escritor estadounidense. Maestro indiscutible de la literatura
          fantástica, su obra rebasa en realidad la confluencia de géneros como
          la literatura de terror y la ciencia ficción hasta cristalizar en una
          narrativa única que recrea una mitología terrorífica de seres de un
          inframundo paralelo. Los paisajes de la naturaleza de su región natal,
          Nueva Inglaterra, influyeron en su temperamento fantasioso y
          melancólico. Desde niño se formó en lecturas mitológicas, en la
          astronomía y en las ciencias. En 1919 leyó la obra de Lord Dunsany,
          que lo marcó sensiblemente; lo mismo le ocurrió con Edgar Allan Poe y
          Arthur Machen. La mayor parte de sus obras fue publicada en la revista
          Weird Tales.
        </p>
        <p>
          Considerado uno de los más brillantes y originales autores de
          narrativa fantástica del siglo XX, la fama de H. P. Lovecraft creció
          sobre todo después de su muerte, cuando su obra, aparecida
          inicialmente en revistas especializadas, fue publicada en volumen. En
          su narrativa se funden elementos heterogéneos: el influjo de Edgar
          Allan Poe, reconocible en ciertas atmósferas y recursos técnicos de
          sus cuentos juveniles, pero también en las novelas de madurez como En
          las montañas de la locura (1931); los lazos con la tradición y el
          paisaje de la Nueva Inglaterra, oníricamente transformado en espacio
          fantástico; o los arranques de ciencia-ficción, que son desarrollados
          en cuentos como El color que cayó del espacio (1927).
        </p>
      </section>
      <footer>
        <ul class="navbar">
          <li><a class="active" href="/"> 01 : Home</a></li>
          <li><a href="/works">02 : Obras</a></li>
          <li><a href="/about">03 : Historia</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
