<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>H.P.Lovecraft</title>
  </head>
  <body>
    <div class="main">
      <h1>H.P. Lovecraft</h1>
      <em class="date">
        (Providence, Rhode Island; 20 de agosto de 1890-Providence; 15 de marzo
        de 1937)</em
      >
      <section>
        <img class="portrait" src="./img/hp.jpg" alt="H.P. Lovecraft Retrato" />
        <p class="subhead">
          Howard Phillips Lovecraft tenía debilidad por los helados y por los
          gatos. De hecho, tenía un gato negro, y según sus propias palabras:
          <i
            >"No me disgustan los perros más de lo que lo hacen los monos, los
            seres humanos, los comerciantes, las vacas, las ovejas o los
            pterodáctilos, pero por los gatos tengo un particular respeto y
            afecto desde los primeros días de mi infancia".</i
          >
        </p>
        <p>
          Considerado un gran innovador del género de terror, al que aportó una
          mitología propia –los conocidos como Mitos de Cthulhu, que consituyen
          un ciclo literario de horror cósmico–, H. P. Lovecraft nació el 20 de
          agosto de 1890 en Providence, la capital y ciudad más grande de Rhode
          Island, en Estados Unidos.
        </p>
      </section>
      <footer>
        <ul class="navbar">
          <li><a href="/"> 01 : Home</a></li>
          <li><a href="/works">02 : Works</a></li>
          <li><a href="/about">03 : About</a></li>
        </ul>
    </footer>
    </div>
  </body>
</html>
