<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>H.P.Lovecraft:Obras</title>
  </head>
  <body>
    <div class="main">
      <h1>Obras destacadas</h1>
      <section class="section-space">
        <img class="portrait" src="./img/llamada.jpg" alt="La llamada" />
        <p class="subhead">
          Con esta novela, Lovecraft escribe en los años 20 del pasado siglo una
          de las historias más famosas de la literatura fantástica americana.
          Cthulhu, el Gran Antiguo que sueña y espera en el fondo de los negros
          abismos oceánicos, se convertirá por sí solo en el símbolo de todo el
          universo que crea el autor de Providence.
        </p>
        <p>
          <i>
            "yo nunca voy a dormir tranquilo de nuevo cuando piense en los
            horrores que acechan sin cesar detrás de la vida, en el tiempo y en
            el espacio, y en esas blasfemias impías de los Antiguos estelares
            que sueñan bajo el mar, conocidos y favorecidos por un culto de
            pesadilla, listo y deseoso de lanzarse sobre el mundo cuando un
            nuevo terremoto saque su monstruosa ciudad de piedra de nuevo al sol
            y el aire."
          </i>
        </p>
      </section>
      <section class="section-space">
        <img class="portrait" src="./img/montanas.jpg" alt="Las montañas" />
        <p class="subhead">
          Paisajes de desiertos helados, criaturas indescriptibles de millones
          de años descubiertas en un estado anormal de conservación, extrañas
          estructuras geométricas en la cima de las montañas negras, las más
          altas que el Everest... Esta historia de Lovecraft ha inspirado a
          generaciones de autores y directores , desde John Carpenter hasta
          Guillermo del Toro.
        </p>
        <p>
          <i>
            Arkham, 1933. El profesor Dyer, un destacado geólogo, se entera de
            que una expedición a la Antártida partirá pronto con la esperanza de
            seguir los pasos que el mismo dio en 1931. Con la esperanza de
            disuadirlos de tal iniciativa, Dyer relata los trágicos sucesos a
            los que sobrevivió en su expedición y que rechazó contar a su vuelta
            por miedo a que lo tomasen por loco.
          </i>
        </p>
      </section>
      <footer>
        <ul class="navbar">
          <li><a href="/"> 01 : Home</a></li>
          <li><a class="active" href="/works">02 : Obras</a></li>
          <li><a href="/about">03 : Historia</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
